#container {
    border: solid gray;
    margin-left: 20%;
    margin-right: 20%;
}

label {
    font-size: 20px;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

div.question {
    margin-top: 5px;
    background-color: lightgrey;
    margin-right:5px;
    border-radius: 5px;
}

li {
    font-size: 24px;
}

input[type=number] {
    height: 20px;
    width: 25px;
}

#result {
    margin-left: 10px;
    font-size: 22px;
}

#submitButton {
    margin-left: 10px;
    font-size: 20px;
    width: 25%;
    height: 45px;
}